@import url(../../styles/variables.module.css);

.Container{
    width: 100%;
    padding-block: 20px;
    min-height: 100%;
    text-align: center;
    color: var(--text-color);
}
.Container div {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}